<div class="login-dark">
        <%= form_for(:session, url: sessions_path) do |f| %>
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
            	<i class="icon ion-ios-bookmarks" style="color:rgb(244,71,107);"></i>
            </div>
            <div class="form-group">
                <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.password_field :password, placeholder: "password", class: "form-control"%>
            </div>
            <div class="form-group">
                <%= f.submit "Sign in", class: "btn btn-large btnprimary btn-block", style: "background-color:rgb(244,71,107);"%>
            </div>
            <%= link_to "Sign up now!", signup_path, class: "forgot" %>
        <% end %>
    </div>
