<div class="register-photo">
    <% if @user.errors.any? %>
                <div id="error_explanation" class="form-container">
                  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                  <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
                <% end %>
        <div class="form-container">
        	<div class="btn-group" role="group">
                <%= link_to 'Show', @user, class:"btn btn-default" %>
                <%= link_to 'Back', users_path, class:"btn btn-default"%>
            </div>
            <h2 class="text-center NewBook"><strong>Editing User</strong></h2>
        	<%= render 'form' %>
        </div>
</div>
